# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [3]:
 
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [34]:
import pandas as pd
d=pd.read_html("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [36]:
df=d[0]
df

,No.,Video name,Uploader / artist,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.85,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017",[C],NaN
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017",[D],NaN
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015",[E],NaN
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.73,"October 8, 2016",[F],NaN
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012",[G],NaN
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014",[H],NaN
7,8.,"""Gangnam Style""[38]",Psy,3.96,"July 15, 2012",[I],NaN
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018",NaN,NaN
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.61,"May 2, 2018",NaN,NaN
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.50,"March 6, 2014",NaN,NaN
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015",NaN,NaN
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015",NaN,NaN
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013",NaN,NaN
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013",NaN,NaN
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014",NaN,NaN
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.10,"April 5, 2018",NaN,NaN
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014",NaN,NaN
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015",NaN,NaN
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015",NaN,NaN
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014",NaN,NaN
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.96,"February 20, 2014",NaN,NaN
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.95,"May 31, 2018",NaN,NaN
23,24.,"""Let Her Go""[55]",Passenger,2.90,"July 25, 2012",NaN,NaN
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017",NaN,NaN
25,26.,"""Hello""[57]",Adele,2.78,"October 22, 2015",NaN,NaN
26,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,2.73,"June 4, 2010",NaN,NaN
27,28.,"""Perfect""[59]",Ed Sheeran,2.73,"November 9, 2017",NaN,NaN
28,29.,"""Blank Space""[60]",Taylor Swift,2.71,"November 10, 2014",NaN,NaN
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016",NaN,NaN
30,"As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [3]:
driver.get("https://www.bcci.tv/" )
time.sleep(5)

In [10]:
button1 = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "div[class='navigation__drop-down drop-down drop-down--reveal-on-hover']"))).click()

In [13]:
botton2=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [14]:
odiopen=driver.find_element_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a[9]/div[2]/div[2]/p/strong")

In [15]:
odiopen.click()

In [16]:

odi_name=driver.find_element_by_xpath('//span[@class="mc-header-info__match-description-match-type mc-theme-color"]')

In [17]:
odi_name.text

'1ST ODI'

In [18]:
date=driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[3]/div/div[3]/strong')

In [19]:
date.text

'Tuesday 23 March'

In [20]:
match=driver.find_element_by_xpath('//h1[@class="mc-header-info__title"]/strong')

In [21]:
match.text

'India v England'

In [22]:
time=driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[3]/div/div[3]/span[1]')

In [23]:
time.text

'13:30 IST'

In [24]:
place=driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[2]/div/h1')

In [34]:
PLACE=place.text
PLACE

'India v England Maharashtra Cricket Association Stadium, Pune'

In [26]:
#therefore

In [55]:
string= "1ST ODI"

In [56]:
ODI = list(string.split("-"))

In [57]:
string= "India v England"

In [58]:
MATCH=list(string.split("-"))

In [59]:
MATCH

['India v England']

In [60]:
string="Tuesday 23 March"

In [61]:
DATE=list(string.split("-"))

In [62]:
string= "13:30 IST"

In [63]:
TIME=list(string.split("-"))

In [64]:
string= "India v England Maharashtra Cricket Association Stadium, Pune"

In [65]:
PLACE=list(string.split("-"))
PLACE

['India v England Maharashtra Cricket Association Stadium, Pune']

In [66]:
#therefore we scraped all details of ist odi

In [67]:
import pandas as pd
FIRST_ODI=pd.DataFrame({})
FIRST_ODI['ODI']=ODI
FIRST_ODI['MATCH']=MATCH
FIRST_ODI['DATE']=DATE
FIRST_ODI['TIME']=TIME
FIRST_ODI['PLACE']=PLACE
FIRST_ODI

,ODI,MATCH,DATE,TIME,PLACE
0,1ST ODI,India v England,Tuesday 23 March,13:30 IST,India v England Maharashtra Cricket Associatio...

In [68]:
#therefore first odi is scraped

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.#

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [3]:

driver.get("https://www.guru99.com/" )
time.sleep(5)

In [8]:
selenium=driver.find_element_by_xpath('//*[@id="g-footer"]/div/div[1]/div/div/div/div/div/div[2]/div[2]/div/div/div/a/i')

In [9]:
selenium.click()

In [10]:
selenium_exception=driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong')

In [11]:
selenium_exception.click()

In [12]:
e=driver.current_url

In [13]:
import pandas as pd
d=pd.read_html(e)

In [15]:
df=d[0]
df

,0,1
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [3]:

driver.get("http://statisticstimes.com/" )
time.sleep(5)

In [4]:
economyclick=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()

In [5]:
indiaclick=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [10]:
indiagdpclick=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [11]:
current_url=driver.current_url

In [13]:
import pandas as pd
d=pd.read_html(current_url)

In [14]:
df=d[1]
df

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0              Uttar Pradesh                         1794508   1668229
2    3.0                 Tamil Nadu                         1845853   1630208
3    4.0                  Karnataka                         1699115   1544399
4    5.0                    Gujarat                               -   1502899
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          531374    492229
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                               -     73170
23  24.0                    Tripura                           55358     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           40802     36656
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                               -     27869
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                               -     19520
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20339849  18971237

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.88%        398.145                               -   2039074
1    8.79%        252.278                         1187277   1137469
2    8.59%        246.529                         1312929   1215307
3    8.14%        233.552                         1201031   1124423
4    7.92%        227.276                               -   1186379
5    5.75%        164.820                          793223    739525
6    4.97%        142.543                          711627    677428
7    4.55%        130.501                          672018    621301
8    4.54%        130.210                          663258    612828
9    4.27%        122.431                          561801    522009
10   4.12%        118.206                               -    559412
11   4.08%        117.180                          634408    590569
12   3.87%        111.024                          572240    531085
13   2.80%         80.204                          414977    375651
14   2.77%         79.601                          418868    397669
15   2.59%         74.437                          402383    382218
16   1.67%         47.769                               -    234048
17   1.60%         45.982                          243477    231182
18   1.57%         44.945                          240036    224986
19   1.30%         37.186                               -    193273
20   0.82%         23.584                               -    112755
21   0.81%         23.265                          124403    117851
22   0.39%         11.065                               -     62539
23   0.26%          7.538                           40527     36963
24   0.22%          6.369                               -     31192
25   0.19%          5.543                           26526     24442
26   0.18%          5.063                           26695     24682
27   0.15%          4.344                           20017     18722
28   0.15%          4.214                               -     19300
29   0.14%          4.126                               -     17647
30   0.13%          3.721                               -     16676
31   0.10%          2.952                               -     14524
32       -              -                               -         -
33     NaN           2869                        14565951  13981426

# Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [75]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [76]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [77]:

driver.get("https://github.com/" )
time.sleep(5)

In [78]:
exploreclick=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [79]:
trendingclick=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').click()

In [80]:
repositories=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')

In [81]:
url_repo=[]
for i in repositories:
    url_repo.append(i.get_attribute("href"))

In [82]:
url_repo

['https://github.com/JonnyBurger/remotion-trailer',
 'https://github.com/iam-abbas/Reddit-Stock-Trends',
 'https://github.com/hashicorp/vault',
 'https://github.com/conwnet/github1s',
 'https://github.com/Azure/azure-quickstart-templates',
 'https://github.com/Kaiyiwing/qwerty-learner',
 'https://github.com/JonnyBurger/remotion',
 'https://github.com/nemanjarogic/DesignPatternsLibrary',
 'https://github.com/tgbot-collection/YYeTsBot',
 'https://github.com/aws/amazon-sagemaker-examples',
 'https://github.com/jomjol/AI-on-the-edge-device',
 'https://github.com/goldbergyoni/nodebestpractices',
 'https://github.com/streamich/react-use',
 'https://github.com/ryanmcdermott/clean-code-javascript',
 'https://github.com/charliegerard/gaze-detection',
 'https://github.com/mozilla-mobile/firefox-ios',
 'https://github.com/dkhamsing/open-source-ios-apps',
 'https://github.com/justjavac/1s',
 'https://github.com/nandorojo/moti',
 'https://github.com/sveltejs/svelte',
 'https://github.com/googlesamples/mlkit',
 'https://github.com/ansible/awx',
 'https://github.com/reed-hong/awesome-libra',
 'https://github.com/abuanwar072/Flutter-responsive-email-ui---Mobile-Tablet-and-Web',
 'https://github.com/Lolliedieb/lolMiner-releases']

In [83]:
NAMES=[]
LANGUAGES=[]
CONTRIBUITION=[]
DISCRIPTION=[]

In [84]:
from selenium.common.exceptions import InvalidArgumentException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException

In [85]:
for url in url_repo:
    driver.get(url)
    try:
        names=driver.find_element_by_xpath("//span[@class='author flex-self-stretch']/a")
        time.sleep(2)
        NAMES.append(names.text)
        
    except NoSuchElementException   as e:
        NAMES.append("NO names")
    except ElementNotInteractableException:
        NAMES.append("NO names")
    except ElementClickInterceptedException:
        NAMES.append("NO names")

    try:
        
        contribution=driver.find_element_by_xpath("//a[@class='link-gray-dark no-underline ']/span")   
        time.sleep(2)
        CONTRIBUITION.append(contribution.text)
        
    except NoSuchElementException   as e:
        CONTRIBUITION.append("NO contribution")
    except ElementNotInteractableException:
        CONTRIBUITION.append("NO contribution")
    except ElementClickInterceptedException:
        CONTRIBUITION.append("NO contribution")
         
    try:
        
        languages=driver.find_element_by_xpath("//li[@class='d-inline']")
        time.sleep(2)
        LANGUAGES.append(languages.text)
        
    except NoSuchElementException   as e:
        LANGUAGES.append("NO language")
    except ElementNotInteractableException:
        LANGUAGES.append("NO language")
    except ElementClickInterceptedException:
        LANGUAGES.append("NO language")
    
    try:
        
        discription=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        time.sleep(2)
        DISCRIPTION.append(discription.text)
        
    except NoSuchElementException   as e:
        DISCRIPTION.append("NO discription")
    except ElementNotInteractableException:
        DISCRIPTION.append("NO discription")
    except ElementClickInterceptedException:
        DISCRIPTION.append("NO discription")

In [86]:
len(NAMES)

25

In [87]:
len(LANGUAGES)

25

In [88]:
len(CONTRIBUITION)

25

In [89]:
len(DISCRIPTION)

25

In [90]:
import pandas as pd
TRENDING_GITHUB=pd.DataFrame({})
TRENDING_GITHUB['NAMES']=NAMES
TRENDING_GITHUB['LANGUAGES']=LANGUAGES
TRENDING_GITHUB['CONTRIBUITION']=CONTRIBUITION
TRENDING_GITHUB['DISCRIPTION']=DISCRIPTION

In [91]:
TRENDING_GITHUB

,NAMES,LANGUAGES,CONTRIBUITION,DISCRIPTION
0,JonnyBurger,TypeScript\n93.6%,NO contribution,A video written in React
1,iam-abbas,Python\n58.7%,,Fetch currently trending stocks on Reddit
2,hashicorp,Go\n80.1%,137,"A tool for secrets management, encryption as a..."
3,conwnet,TypeScript\n89.3%,,One second to read GitHub code with VS Code.
4,Azure,PowerShell\n36.2%,3,Azure Quickstart Templates
5,Kaiyiwing,TypeScript\n87.4%,,为键盘工作者设计的单词记忆与英语肌肉记忆锻炼软件
6,JonnyBurger,TypeScript\n92.5%,122,Create videos programmatically in React
7,nemanjarogic,C#\n100.0%,,A comprehensive design patterns library implem...
8,tgbot-collection,Python\n76.5%,2,人人影视bot，完全对接人人影视全部无删减资源
9,aws,Jupyter Notebook\n78.7%,1,Example notebooks that show how to apply machi...
10,jomjol,C++\n65.4%,10,NO discription
11,goldbergyoni,JavaScript\n66.5%,172,The Node.js best practices list (February 2021)
12,streamich,TypeScript\n99.4%,247,React Hooks —
13,ryanmcdermott,JavaScript\n100.0%,,Clean Code concepts adapted for JavaScript
14,charliegerard,JavaScript\n100.0%,,Use machine learning in JavaScript to detect e...
15,mozilla-mobile,Swift\n91.6%,122,Firefox for iOS
16,dkhamsing,Swift\n35.6%,274,Collaborative List of Open-Source iOS Apps
17,justjavac,NO language,3,天若有情天亦老，我为网站加一秒
18,nandorojo,TypeScript\n99.4%,17,"The universal React Native animation library, ..."
19,sveltejs,TypeScript\n54.5%,,Cybernetically enhanced web apps
20,googlesamples,Java\n29.5%,,A collection of sample apps to demonstrate how...
21,ansible,Python\n56.1%,41,AWX Project
22,reed-hong,NO language,,A Curated List of Awesome Facebook Libra Resou...
23,abuanwar072,Dart\n91.7%,,We redesign the outlook app also make it respo...
24,Lolliedieb,NO language,47,NO discription

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [3]:

driver.get("https://www.billboard.com/" )
time.sleep(5)

In [4]:
topsongsclick=driver.find_element_by_xpath('//*[@id="main-content"]/div[2]/div/div/div[2]/div[2]/a/span[1]').click()

In [5]:
names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")

In [6]:
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")

In [25]:
lastweek=driver.find_element_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']")

In [26]:
lastweek2=lastweek.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")

In [28]:
lastweek2

[<selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="252d19c4-c58a-4740-b8be-15dc8dde0c01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="ab202549-d39c-4f17-9c9d-6cc1450b0c83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="3164cb42-5273-421b-89d8-6fd180b7048d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="19f7b9c8-09b5-4d6a-9864-41edf014c516")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="97292738-edb1-45f9-9b6b-ba8292491590")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="a06079de-b4d9-4278-a9f2-e32592458f94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="0036db26-cdab-4d23-9ef0-6b8493c28dd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="6859c30d-6e3a-47bf-a05a-32a44879ef78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="a5cc5e40-95dd-4f2b-8fb3-e1485bd01463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="b875c4da-acb5-4c61-a917-0abf53d46be0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="227763cd-388d-449b-917c-814a2867803b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e73efb41-628e-4961-a439-86b27b29bd57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="c77bfcda-c6fd-42c9-9f84-7c66617ec783")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="441f23bd-0ff7-4e8c-ab27-578cf3f4fd89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="dafd8a70-fcac-4874-9ff4-0f64a8d00496")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="37321531-5787-4729-973d-22f3f56833d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="f5004dbc-d26d-4826-954a-447f7233c159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="de67c2c4-7eec-4f53-9764-9c69ca4a978e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="9774f165-a8cc-401a-9fd9-13653dc79ca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="cdb9851e-948d-4f13-b265-15a6b2942ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="45948dee-a34a-47ab-a58c-f444aeb19a57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="d1eeb62d-f436-4da8-b1eb-431a5e4ad187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="812d35aa-9fcc-4e00-b9d7-c6e238ad4488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="c223e590-1f30-4c6a-b893-fa8003bf3abd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="b116414a-adcb-4936-a4b9-634ec6bb8e58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="9d8939df-9afc-4ac8-8642-7250a4f183f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e5c720c8-5686-4ac4-95a7-ada5386e6559")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="125e48e3-6148-4f6d-af8d-4ec273d23a2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="df110265-e1cd-461a-ba8d-554fd8931f57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="78cbf499-7972-4049-b6cc-412184ce1ea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="db14c652-c99b-4a01-b322-f2e6b1128329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="178e70b2-79af-4214-92a5-3b62e3db111f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="c1ff12cc-81a4-45db-b1d9-c29153bc1075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="8185b990-f133-4db7-aac2-4f551bfc15fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="6a2da53b-84cd-4912-8c66-0725c4011a99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="0d9b0dc7-da78-4a01-acb2-1bf16805629f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="fa703ff2-074d-4c9d-b186-0d7043bbf4f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="4dbe86ed-74cf-4082-b891-449ee87eff14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="c1277192-4df1-4ad2-af34-1f25913aaf3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="04677930-d4d5-462d-bdc2-3711d0d77a8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="7ee9f79e-7d89-4aae-bcd1-964036ec53ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="3cb0e5f4-3ff0-4be2-9568-33b02590d289")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="16c81680-b57c-45b1-95dc-8c52e477da70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="ce466365-bc65-4ac3-854a-90bf2f59db82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="d868830a-ae7b-4547-a8b4-9abc989d8e5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="1fc93f59-9777-4ce1-a4e1-416537cab963")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="994872c5-5efc-43f4-873b-4292be478490")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="9cb10cd9-239b-48dd-993e-a4ef66a8bf93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="198d906c-ed74-4918-bf90-81466919cdcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="b3c2eb8e-f172-4545-8be3-31b31631f426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="8aed1ac3-00d9-4105-9720-0fd061350a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="da5ce0c9-472b-4acc-9b2a-1e693b6074b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="16ac5a03-ee98-416c-9499-7323a45eece6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="0b1d22a1-b7a3-4c66-b3a7-c76a6758c1ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e8fac592-625c-422b-adb0-735163ab2b1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="04cd3eb9-8a9a-4506-a24d-ed1b6dcc6537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e2246db8-9b4a-4bc6-b31c-d2bfbde93e9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="8d8a2c9a-a5bd-4ed4-ad83-9dec030f977b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="0dfaf64a-7827-4279-8726-c6ed2c6b3aae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="d16fd4e7-9b0f-4c87-b8a9-1fa4b15165e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="10bb6567-d5ae-486a-9f52-54f21297a9da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="5dc68c47-e193-45d3-bd08-3d80d819fe00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="811bf0a5-9d8d-4fa3-83c3-b5cdf8779802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="dc983a0b-4a97-4ff3-941d-4db12f6d1f98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="749eed26-37c1-4e0b-9b04-44dd23c01818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="74237a88-5b3a-4d43-a504-01a1ead3a27c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="cae56619-30c5-4589-b065-e0225887d80c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="6ff0bc16-82dd-47f0-9c6a-9346f15b7b33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="dcb87085-dfce-4c66-ac51-5f19bfb94e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="3d592472-24c6-4a82-aac4-32d5de62c71f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="4bbe7090-d33b-4141-affe-533a5060fd7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="717960ff-1bbb-4e7a-93b5-a856a8335b8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="8834b1b1-23b0-4df4-bcb9-eba89c3dce71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="cbb91b32-29e5-4ec2-b249-12db0812b605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="694d4bfe-d32b-4281-bfca-cd1321de0a2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="aa71ea91-b0e2-42a7-86bf-4e6e0ebcf7eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="bff5370f-91af-494a-b6cc-8fc601983702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="820a9fb1-1632-4fed-aa27-f69ca7e446b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e080530f-b266-4385-b2ee-624b1a56f754")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="a2b592b9-41b1-4126-a619-60de446a8b2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="491a8dcf-18e0-48dc-af80-a46d7f9772ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="05461a19-d3a1-432e-9027-277c71dece8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="b20a1ae4-483a-4d75-bbe4-689400190f87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="94196823-15ac-48a8-aa01-c912d6683a99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="6b640d4a-49cf-46fe-907d-d897e4d69c90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="68b41c89-1619-4023-88ec-7d5664daa394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="ebed13cb-3d8d-4700-8960-b6a05041db50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="55f38503-5b15-4694-954f-2b31859fb107")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="6a19b816-91f5-4577-8aaa-02a4a90d8373")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="3a23f0f5-352a-423d-bf00-658e8265a92f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="f3ea2ae8-6e63-4e34-a897-540f8a88bc61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="a38800b2-0ee7-4649-854f-2ec0ea9ceb0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="a40e9262-1b60-4374-be40-5a17728947ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e866a6a0-a369-431a-8f20-b21fd0a55aae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="fb3ca86f-ff04-4a8c-a479-d7c8d98064d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="860c5d2c-5721-4179-8cbf-5419d3b3c51e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="e0faf518-46c9-4a11-a0d8-88364ff8aeda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="c3acb2b2-8ade-49ff-a1b3-e4585fde348c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="0c514a69-e527-43f0-b66f-83b634e06330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa018f6985edd9603d88d561384cfa09", element="13c09c9c-418d-4a40-b536-f81606e2edba")>]

In [32]:
peak=lastweek.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")

In [35]:
weaks=lastweek.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

In [29]:
NAMES=[]
ARTIST=[]
LASTWEEK=[]
PEAK=[]
WEAKS=[]

In [30]:
for i in lastweek2:
    LASTWEEK.append(i.text)

In [38]:
len(LASTWEEK)

100

In [33]:
for i in peak:
    PEAK.append(i.text)

In [39]:
len(PEAK)

100

In [36]:
for i in weaks:
    WEAKS.append(i.text)

In [40]:
len(WEAKS)

100

In [41]:
for i in names:
    NAMES.append(i.text)

In [42]:
len(NAMES)

100

In [43]:
for i in artist:
    ARTIST.append(i.text)

In [44]:
len(ARTIST)

100

In [45]:
import pandas as pd
billboard=pd.DataFrame({})
billboard['NAMES']=NAMES
billboard['ARTIST']=ARTIST
billboard['LASTWEEK']=LASTWEEK
billboard['PEAK']=PEAK
billboard['WEAKS']=WEAKS

In [47]:
billboard

,NAMES,ARTIST,LASTWEEK,PEAK,WEAKS
0,,,,,
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [4]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [5]:
driver.get("https://www.naukri.com" )
time.sleep(5)

In [6]:
search = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[name='keyword']")))

In [7]:
search.click()
search.send_keys("Data Science")

In [8]:
button = WebDriverWait(driver, 2).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "button[class='btn']"))).click()

In [26]:
name_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")
time.sleep(5)

In [10]:
company_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")

In [42]:
city_tags=driver.find_element_by_tag_name('i').find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")

In [58]:
skill_tags=driver.find_elements_by_xpath("//ul[@class='tags has-description']")

In [59]:
SKILLS=[]
for i in skill_tags:
    SKILLS.append(i.text)

In [45]:
NAMES=[]
for i in name_tags:
    NAMES.append(i.text)

In [46]:
COMPANY=[]
for i in company_tags:
    COMPANY.append(i.text)

In [47]:
CITY=[]
for i in city_tags:
    CITY.append(i.text)

In [60]:
len(SKILLS)

20

In [61]:
SKILLS

['Data Science Team Lead\nSpotfire\nMultivariate Analysis\nFactor Analysis\nData Science\nTableau\nLinear Modeling\nAlteryx',
 'IT Skills\nPython\nCloud\nAWS\nTableau\nPower BI\nAzure\nComputer science',
 'IT Skills\nJava\nPython\nCloud\nCSS\nBig Data\nAWS\nAzure',
 'IT Skills\nPython\nData Science\nData Science\nNLP\nNatural Language Processing\nText Mining\nMachine Learning',
 'IT Skills\nJava\nPython\nData Science\nMachine Learning\nCloud\nOracle\nBig Data',
 'Data Science\nNLP\nData Scientist\nNeural Networks\nClinical Data Management\nData Modeling\nChatbot Deployment\nData Analytics',
 'Data Science\nBusiness Intelligence\nR\nBig Data\nTableau\nMachine Learning\nStatistics\nAnalytics',
 'IT Skills\nBig Data\nAWS\nNLP\ndata science\ndata Engineer\nstatistical modelling\nmachine learning',
 'Data Science\nAzure\nData Scientist\nData Architect\nData Management\nStatistical Modeling\nMachine Learning\nPython',
 'IT Skills\nJava\nPython\nTesting\nMachine Learning\nAWS\nJava\nR',
 'Data Science\npython\nAlgorithms\nArtificial Intelligence\nNatural Language Processing\nMachine Learning\nDeep Learning',
 'IT Skills\nJava\nPython\nMachine Learning\nArtificial Intelligence\nAzure\nData Science\nNLP',
 'IT Skills\nPython\nMachine Learning\nData Science\nData Scientist\nBig Data\nData Modeling\nSolution Design',
 'Tensorflow\nData Science\nR\nHadoop\nSpark\nSeaborn\nMachine Learning\nDeep Learning',
 'deep learning\nArchitect\nAcademic Research\ndata science\nArtificial Intelligence\nMachine learning\nNatural language processing\nMATLAB',
 'IT Skills\nMachine Learning\nBig Data\nProduct Development\nOpen Source\nData Scientist\nArtificial Intelligence\nBig Data',
 'IT Skills\nPython\nMachine Learning\nArtificial Intelligence\nData Science\nPredictive Modeling\nData Scientist\nArtificial Intelligence',
 'Logistic regression\ndata science\nGCP\nBusiness analytics\nMachine learning\nlinear regression\nData mining\nSQL',
 'IT Skills\nJava\nPython\nSoftware Development\nMachine Learning\nCloud\nArtificial Intelligence\nNatural Language Processing',
 'Multivariate Analysis\nData Science\nR\nFactor Analysis\nBI\nMarket Basket Analysis\nTime Series\nData Analytics']

In [49]:
len(NAMES)

20

In [50]:
len(COMPANY)

20

In [51]:
len(CITY)

60

In [52]:
CITY

['8-10 Yrs',
 'Not disclosed',
 'Chennai',
 '2-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '8-10 Yrs',
 'Not disclosed',
 'Hyderabad',
 '3-8 Yrs',
 '13,00,000 - 23,00,000 PA.',
 'Chennai, Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-7 Yrs',
 'Not disclosed',
 'Gurgaon Gurugram',
 '14-20 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Chennai, Mumbai',
 '5-8 Yrs',
 'Not disclosed',
 'Delhi/NCR Delhi NCR',
 '6-8 Yrs',
 'Not disclosed',
 'Bengaluru',
 '5-10 Yrs',
 '3,00,000 - 5,00,000 PA.',
 'Hyderabad',
 '10-18 Yrs',
 'Not disclosed',
 'Chennai',
 '7-11 Yrs',
 'Not disclosed',
 'Mumbai',
 '2-7 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-4 Yrs',
 'Not disclosed',
 'India',
 '4-8 Yrs',
 'Not disclosed',
 'Gurgaon Gurugram',
 '7-12 Yrs',
 'Not disclosed',
 'India',
 '1-5 Yrs',
 'Not disclosed',
 'Mumbai',
 '2-4 Yrs',
 'Not disclosed',
 'Bengaluru',
 '8-10 Yrs',
 'Not disclosed',
 'Bengaluru']

In [62]:
n=3
CITY2 = [CITY[i * n:(i + 1) * n] for i in range((len(CITY) + n - 1) // n )]  
print (CITY2)

[['8-10 Yrs', 'Not disclosed', 'Chennai'], ['2-5 Yrs', 'Not disclosed', 'Bengaluru'], ['8-10 Yrs', 'Not disclosed', 'Hyderabad'], ['3-8 Yrs', '13,00,000 - 23,00,000 PA.', 'Chennai, Bengaluru'], ['3-5 Yrs', 'Not disclosed', 'Bengaluru'], ['3-7 Yrs', 'Not disclosed', 'Gurgaon Gurugram'], ['14-20 Yrs', 'Not disclosed', 'Bengaluru'], ['3-6 Yrs', 'Not disclosed', 'Chennai, Mumbai'], ['5-8 Yrs', 'Not disclosed', 'Delhi/NCR Delhi NCR'], ['6-8 Yrs', 'Not disclosed', 'Bengaluru'], ['5-10 Yrs', '3,00,000 - 5,00,000 PA.', 'Hyderabad'], ['10-18 Yrs', 'Not disclosed', 'Chennai'], ['7-11 Yrs', 'Not disclosed', 'Mumbai'], ['2-7 Yrs', 'Not disclosed', 'Bengaluru'], ['2-4 Yrs', 'Not disclosed', 'India'], ['4-8 Yrs', 'Not disclosed', 'Gurgaon Gurugram'], ['7-12 Yrs', 'Not disclosed', 'India'], ['1-5 Yrs', 'Not disclosed', 'Mumbai'], ['2-4 Yrs', 'Not disclosed', 'Bengaluru'], ['8-10 Yrs', 'Not disclosed', 'Bengaluru']]

In [63]:
len(CITY2)

20

In [64]:
import pandas as pd
DATASCIENCE=pd.DataFrame({})
DATASCIENCE['NAMES']=NAMES
DATASCIENCE['COMPANY']=COMPANY
DATASCIENCE['CITY2']=CITY2
DATASCIENCE['SKILLS']=SKILLS
DATASCIENCE

,NAMES,COMPANY,CITY2,SKILLS
0,Data Science Team Lead,Shell India Markets Private Limited\n4.2\n(523...,"[8-10 Yrs, Not disclosed, Chennai]",Data Science Team Lead\nSpotfire\nMultivariate...
1,Data Science Senior Analyst,Accenture Solutions Pvt Ltd\n3.9\n(15865 Reviews),"[2-5 Yrs, Not disclosed, Bengaluru]",IT Skills\nPython\nCloud\nAWS\nTableau\nPower ...
2,Data Science Architect,AlgonoX Technologies,"[8-10 Yrs, Not disclosed, Hyderabad]",IT Skills\nJava\nPython\nCloud\nCSS\nBig Data\...
3,Business Research Analyst – II,Amazon Development Centre (India) Pvt. Ltd.\n4...,"[3-8 Yrs, 13,00,000 - 23,00,000 PA., Chennai, ...",IT Skills\nPython\nData Science\nData Science\...
4,Data Science Professional,Bion,"[3-5 Yrs, Not disclosed, Bengaluru]",IT Skills\nJava\nPython\nData Science\nMachine...
5,Founding Member & Principal Data Scientist,Benovymed Healthcare,"[3-7 Yrs, Not disclosed, Gurgaon Gurugram]",Data Science\nNLP\nData Scientist\nNeural Netw...
6,VP / Sr. VP Data Science,Lendingkart Technologies Pvt. Ltd.,"[14-20 Yrs, Not disclosed, Bengaluru]",Data Science\nBusiness Intelligence\nR\nBig Da...
7,Data Science Professional,DISPRZ\n4.8\n(4 Reviews),"[3-6 Yrs, Not disclosed, Chennai, Mumbai]",IT Skills\nBig Data\nAWS\nNLP\ndata science\nd...
8,Data Scientist - Machine Learning/Statistical ...,Lericon Informatics Pvt. Ltd.,"[5-8 Yrs, Not disclosed, Delhi/NCR Delhi NCR]",Data Science\nAzure\nData Scientist\nData Arch...
9,Data Scientist,IBM India Pvt. Limited\n4.1\n(8802 Reviews),"[6-8 Yrs, Not disclosed, Bengaluru]",IT Skills\nJava\nPython\nTesting\nMachine Lear...
10,Data Science Trainer,Naresh i Technologies\n3.7\n(23 Reviews),"[5-10 Yrs, 3,00,000 - 5,00,000 PA., Hyderabad]",Data Science\npython\nAlgorithms\nArtificial I...
11,Immediate Opening - Data Science Lead [ Exp 10...,TECHMINDS GROUP INDIA PRIVATE LIMITED,"[10-18 Yrs, Not disclosed, Chennai]",IT Skills\nJava\nPython\nMachine Learning\nArt...
12,Team Lead/Manager/Assistant Manager - Data Sci...,Neufvasi Digital Solutions Private Limited,"[7-11 Yrs, Not disclosed, Mumbai]",IT Skills\nPython\nMachine Learning\nData Scie...
13,Data Science Trainer,NIIT Ltd.\n3.7\n(503 Reviews),"[2-7 Yrs, Not disclosed, Bengaluru]",Tensorflow\nData Science\nR\nHadoop\nSpark\nSe...
14,Architect Data Science,GenInvo,"[2-4 Yrs, Not disclosed, India]",deep learning\nArchitect\nAcademic Research\nd...
15,Data Scientist,IBM India Pvt. Limited\n4.1\n(8802 Reviews),"[4-8 Yrs, Not disclosed, Gurgaon Gurugram]",IT Skills\nMachine Learning\nBig Data\nProduct...
16,Data Science Engineer - Statistical Modeling/ ...,Lera Technologies Pvt. Ltd,"[7-12 Yrs, Not disclosed, India]",IT Skills\nPython\nMachine Learning\nArtificia...
17,Specialist Data science,Angel Broking Limited\n3.8\n(639 Reviews),"[1-5 Yrs, Not disclosed, Mumbai]",Logistic regression\ndata science\nGCP\nBusine...
18,Data scientist,IBM India Pvt. Limited\n4.1\n(8802 Reviews),"[2-4 Yrs, Not disclosed, Bengaluru]",IT Skills\nJava\nPython\nSoftware Development\...
19,Data Science Team Lead - Retail,Shell India Markets Private Limited\n4.2\n(523...,"[8-10 Yrs, Not disclosed, Bengaluru]",Multivariate Analysis\nData Science\nR\nFactor...

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
 
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [3]:
import pandas as pd
d=pd.read_html("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [4]:
df=d[0]
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [4]:
driver.get("https://www.imdb.com/list/ls095964455/" )
time.sleep(5)

In [85]:
names=driver.find_elements_by_xpath(("//h3[@class='lister-item-header']/a"))

In [95]:
year_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")

In [96]:
genre=driver.find_elements_by_xpath("//span[@class='genre']")

In [97]:
run_time=driver.find_elements_by_xpath("//span[@class='runtime']")

In [107]:
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

In [99]:
votes=driver.find_elements_by_xpath("//span[@name='nv']")

In [86]:
NAMES=[]
for i in names:
    NAMES.append(i.text)

In [89]:
YEAR=[]
for i in year_span:
    YEAR.append(i.text)

In [90]:
GENRE=[]
for i in genre:
    GENRE.append(i.text)

In [92]:
RUN_TIME=[]
for i in run_time:
    RUN_TIME.append(i.text)

In [108]:
RATING=[]
for i in rating:
    RATING.append(i.text)

In [100]:
VOTES=[]
for i in votes:
    VOTES.append(i.text)

In [105]:
len(YEAR)

100

In [104]:
len(GENRE)

100

In [103]:
len(RUN_TIME)

100

In [109]:
len(RATING)

100

In [87]:
len(NAMES)

100

In [101]:
len(VOTES)

100

In [111]:
import pandas as pd
IMBD_TV=pd.DataFrame({})
IMBD_TV['NAMES']=NAMES
IMBD_TV['YEAR']=YEAR
IMBD_TV['GENRE']=GENRE
IMBD_TV['RUN_TIME']=RUN_TIME
IMBD_TV['RATING']=RATING
IMBD_TV['VOTES']=VOTES
IMBD_TV

,NAMES,YEAR,GENRE,RUN_TIME,RATING,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,768,586"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"821,116"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"852,836"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,025"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,238"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,551"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,836"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,034"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,074"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,102"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [18]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [19]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")
time.sleep(5)

In [20]:
driver.get("https://archive.ics.uci.edu/ml/index.php" )
time.sleep(5)

In [21]:
showallRepo=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b').click()

In [22]:
current_url=driver.current_url

In [27]:
import pandas as pd
d=pd.read_html(current_url)

In [28]:
df=d[5]
df

,0,1,2,3,4,5,6
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
4,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
555,IIWA14-R820-Gazebo-Dataset-10Trajectories,NaN,Regression,Integer,NaN,NaN,2020
556,Guitar Chords finger positions,Text,Classification,NaN,2633,5,2020
557,Russian Corpus of Biographical Texts,Text,Classification,NaN,200,2,2020
558,Codon usage,Multivariate,"Classification, Clustering",NaN,13028,69,2020
559,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020